@import '../../../styles/main';

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
} 

.column {
    width: 100%;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid $black;
    z-index: 1;

    .innercolumn {
        position: relative;
        overflow: hidden;
        z-index: 1;
        

        .wrapper {
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: clamp(1rem, 0.2093rem + 3.7209vw, 3rem);
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            height: 100px;

            @include media-breakpoint(screen-md) {
                height: 140px;
            }    
            
        }

        .wrapper::before {
            content: "";
            background-image: url('../../../public/small-star.svg');
            height: 16px;
            width: 16px;
            background-size: 100%;
            animation: rotate 10s linear infinite;
            background-repeat: no-repeat;
            margin-right: 10px;
        }


        &__heading {
            text-transform: uppercase;
            padding-left: 10px;
            padding-right: 10px;
            background-color: $black;
            color: $white;
            @include media-breakpoint(screen-md) {
                padding-right: 20px;
            }
            &:hover {
                background-color: $lemon;
                color: $black;
                transform: rotate(5deg) scale(1.2);
                margin-left: 60px;
                transition: .1s ease-in-out;
            }
            
        }

        &__arrow {
            background: url(../../../public/arrow-right-bold.svg) 50% 50%/100% auto;
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 10px;
            visibility: hidden;
            @include media-breakpoint(screen-md) {
                height: 38px;
                width: 38px;
                visibility: visible;
            }
            @include media-breakpoint(screen-lg) {
                height: 48px;
                width: 48px;
            }
            
        }

       
    }



}

.column:last-of-type {
    border-bottom: none;
}

