@import '../../../styles/main'; 
.nav-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    outline: 1px solid $black;

    @include media-breakpoint(screen-md) {
    display: grid;
    grid-template-columns: 1fr auto;
    }

    .nav-items {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        font-weight: 500;      

        &__item {
            margin-left: 1rem;
            margin-right: 1rem;
            line-height: 2;
        }
        .active {
            font-weight: 600;
            position: relative;
        }
        .active::after {
            content: "";
            background-image: url("../../../public/active-link.svg");
            background-size: 90%;
            height: 50px;
            width: 100px;
            position: absolute;
            background-repeat: no-repeat;
            right: -30%;
            bottom: -20px;  
        }

    }
}

