@import '../../../styles/main';

.album-view {
    display: grid;
    
    @include media-breakpoint(screen-sm) {
        grid-template-columns: 1fr;
    }
    @include media-breakpoint(screen-md) {
        grid-template-columns: repeat(2,minmax(1em,1fr));
    }
    @include media-breakpoint(screen-lg) {
        grid-template-columns: repeat(2,minmax(1em,1fr));
    }

    &__image {
        outline: 1px solid $black;
        display: flex;
        flex-direction: column;
        width: 100%;
        @include media-breakpoint(screen-sm) {
            margin: 0 auto;
        }
        @include media-breakpoint(screen-md) {
            padding-top: 0px;
        }
        &--img {
            @include media-breakpoint(screen-lg) {
                width: 50vw;
            }
            @include media-breakpoint(screen-xl) {
                width: 50vw;
            }
        }
        
    }

    &__label {
        @include label;
    }
    &__details {
        @include media-breakpoint(screen-md) {
            margin: 30px 0px;
        }
        @include media-breakpoint(screen-lg) {
            width: -webkit-fill-available;
            width: -moz-available;
        }
       
        &--detail {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 10px;
            font-weight: 500;
            border-bottom: 1px solid lighten($black, 50%);
            
        }
        &--detail:hover {
            border-bottom: 1px solid $black;
        }
       
       
    }
}


.reviews-container {
    margin: 0 auto;

    h4 {
       border-top: 1px solid black;
       border-bottom: 1px solid black;
       text-transform: uppercase;
       font-weight: 500;
       padding: 20px 10px 20px 10px;
    }

    .reviews {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        overflow-x: scroll !important;
        scroll-behavior: auto;
        scroll-snap-type: x mandatory;
        gap: 1px;
        scrollbar-width: none;
        border-bottom: 1px solid $white;
    }
    .reviews::-webkit-scrollbar {
        display: none;
    }

}

.form-container {
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    h4 {
        padding-bottom: 10px;
    }
    
    
}