@import "../../styles/main";

.hero-section {
    &__logo-container {
        position: relative;
        height: 260px; 

        &--logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            //font-size: 12rem;
            font-size: clamp(3.18rem, -4.1395rem + 24.186vw, 12rem);
            letter-spacing: 0.1rem;
        }

    }

}

