@import '../../styles/main';


.search-container {
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    @include media-breakpoint(screen-md) {
        justify-content: left;
        width: max-content;
    }
    &__searchfield {
        height: auto;
        padding: 2px;
        @include media-breakpoint(screen-sm) {
            width: 250px;
            font-size: 1rem;
            
        }
        @include media-breakpoint(screen-md) {
            width: 300px;
            font-size: 1.2rem;
        }
        
    }
    &__searchfield::placeholder {
        color: lighten($color: $black, $amount: 10%);
    }
}