@import '../../styles/main';
.album {
    outline: 1px solid black;

   /* &__image {
       

    }*/
    &__details {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 140px;
        justify-content: space-between;
    
        
       
        &--title {
            font-weight: 500;
            @include media-breakpoint(screen-sm) {
                font-size: 0.8rem;
            }
            @include media-breakpoint(screen-md) {
                height: 16px;
                font-size: 1rem;
                line-height: 1rem;
            }
            
        }
        &--artist {
            font-size: 0.8rem;
        }
        &--label {
            @include label;

        }
        &--link {
            text-decoration: underline;
        }
    }
}