@import '../../styles/main';

.review-form {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    width: calc(100% - 3.4rem);
    margin: 0 auto;
    border-radius: 10px;
    height: 320px;
    box-shadow: 4px 8px 0px 0px black;

    .rating, .content, .button-container {
        display: flex;
        flex-direction: column;
        width: calc(100% - 3.4rem);
        margin: 0 auto;

    }

    .rating {
        padding-top: 20px;
        padding-bottom: 20px;

        &__label-description {
            font-weight: 600;
            padding-bottom: 5px;

        }

        &__options {
            border: 2px solid $black;
            border-radius: 4px;
            font-weight: 400;
            background-color: $white;

            &:focus, &:hover {
                box-shadow: 1px 2px 0px 0px black;
                transform: translateY(4px);
                outline: none;
            }

        }
    }

    .content {
        padding-bottom: 20px;

        &__label-description {
            font-weight: 600;
            padding-bottom: 5px;
        }

        &__textarea {
            resize: none;
            border: 2px solid $black;
            border-radius: 4px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            height: 150px;
            

            &:focus, &:hover {
                box-shadow: 1px 2px 0px 0px $black;
                transform: translateY(4px);
                outline: none;
            }
            
        }
    }

    .button-container {
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        

        &__btn {
            width: max-content;
            background-color: $green;
            outline: none;
            border-radius: 8px;
            border: 2px solid $green;
            font-weight: 600;
            padding: 2px 10px 2px 10px;

            &:hover {
                box-shadow: 4px 4px 0px 0px $black;
                transform: translateY(2px);
                
            }

        }
    }
}

