@import '../../styles/main';

.modal-container-blur {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(12px);
}

.modal-overlay {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $white;
    //transition-duration: 0.4s;

    @include media-breakpoint(screen-md) {
        width: 500px;
        height: 400px;
    }


    &__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        background-color: transparent;
        height: 20px;
        border-color: transparent;
        cursor: pointer;
    }
}

.review-form {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    @include media-breakpoint(screen-sm) {
        width: 100%;
    } 

    .form-header, .rating, .content, .button-container {
        display: flex;
        flex-direction: column;
        width: calc(100% - 3.4rem);
        margin: 0 auto;

    }

    .form-header {
        padding: 20px 0px 10px 0px;
        font-size: 0.8rem;
        @include media-breakpoint(screen-md) {
            font-size: 1rem;
        }
    }

    .rating {
        padding-bottom: 20px;

        &__options {
            border: 1px solid lighten($black, 70%);
            font-weight: 400;
            background-color: $white;
            height: 30px;

            &:focus, &:hover {
                outline: none;
                border: 1px solid $black;
            }

        }
    }

    .content {
        padding-bottom: 40px;

        &__textarea {
            resize: none;
            border: 1px solid lighten($black, 70%);
            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-weight: 500;
            height: 80px;
            padding: 4px; 
            font-size: 0.8rem;   

            &:focus, &:hover {
                outline: none;
                border: 1px solid $black;
            }
            
        }
    }

    .button-container {
        width: calc(100% - 3.4rem);
        margin: 0 auto;

        &__btn {
            width: 100%;
            padding: 16px;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            outline: 0px;
            border: 0px;
            margin: 0px 0px 16px;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            border-radius: 0px;
            background-color: black;
            color: white;
            font-weight: 500;
            //TODO: refactor to mixin

            &:hover {
                cursor: pointer;
                
            }

        }
    }
}

