@import './main';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    color: $black;
    background-color: $white;
    font-family: 'Inter', sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-weight: 500;
}

p, span {
    color: $black;
    font-weight: 500;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    @include media-breakpoint(screen-sm) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint(screen-md) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint(screen-lg) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint(screen-xl) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.container-large {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    margin: 0 auto;

    @include media-breakpoint(screen-lg) {
        width: calc(100% - 1rem);
        margin: 0 auto;
    }
    
}

.container-large > * {
    margin: 8px 0;
}
.container-large > *:first-child {
    margin-top: 10px 0;
}

.container-small {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 25px;
}

.text-container {
    width: calc(100% - 2rem);
    padding-top: 30px;
    padding-bottom: 20px;

}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 20px auto;
}

.small-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.redirect {
    &__link-text {
        text-decoration: underline;  
    }
}

.button-secondary {
    @include secondary-button;
}

.button-tertiary {
    @include tertiary-button;
}
