@import './main';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    color: $black;
    background-color: $white;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-weight: 600;
}

p, span {
    color: $black;
    font-weight: 500;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    @include media-breakpoint(screen-sm) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint(screen-md) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint(screen-lg) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint(screen-xl) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.container-small {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 50px;
}

.button-secondary {
    @include secondary-button;
}


