@import './breakpoints';
@import './base';

@mixin media-breakpoint($size) {
   @if $size == 'screen-sm' {
    @media only screen and (min-width: #{$screen-sm}) {
        @content;
    }
   } @else if $size == 'screen-md' {
    @media only screen and (min-width: #{$screen-md}) {
        @content;
    }
   } @else if $size == 'screen-lg' {
    @media only screen and (min-width: #{$screen-lg}) {
        @content;
    }
   } @else if $size == 'screen-xl' {
    @media only screen and (min-width: #{$screen-xl}) {
        @content;
    }
   }
}

@mixin primary-button {
    color: $black;
    background-color: $green;
    border-color: $green;
    display: block;
    text-align: center;
    width: 70px;
    &:hover {
        background-color: $grey;
        border-color: $grey;
    }
    
}

@mixin secondary-button {
    color: $black;
    background-color: $white;
    border-color: $black;
    text-align: center;
    height: 40px;
    margin: 2px;
    padding: 2px 3px 2px 3px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $lemon;
        
    }
    &.active {
        background-color: $lemon;
    }
}

@mixin tertiary-button {
    width: max-content;
    background-color: $black;
    outline: none;
    color: $white;
    border: 2px solid $black;
    font-weight: 600;
    padding: 6px 10px 6px 10px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        
    }
}