@import './breakpoints';
@import './base';

@mixin media-breakpoint($size) {
   @if $size == 'screen-sm' {
    @media only screen and (min-width: #{$screen-sm}) {
        @content;
    }
   } @else if $size == 'screen-md' {
    @media only screen and (min-width: #{$screen-md}) {
        @content;
    }
   } @else if $size == 'screen-lg' {
    @media only screen and (min-width: #{$screen-lg}) {
        @content;
    }
   } @else if $size == 'screen-xl' {
    @media only screen and (min-width: #{$screen-xl}) {
        @content;
    }
   }
}



@mixin secondary-button {
    color: $black;
    background-color: $white;
    border-color: $black;
    text-align: center;
    height: 40px;
    margin: 2px;
    padding: 2px 8px 2px 8px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-width: 1px;

    &:hover {
        background-color: $black;
        color: $white;
        
    }
    &.active {
        background-color: $black;
        color: $white;
    }
}

@mixin tertiary-button {
    width: max-content;
    background-color: $black;
    outline: none;
    color: $white;
    border: 2px solid $black;
    font-weight: 600;
    padding: 6px 10px 6px 10px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        
    }
}

@mixin label {
    border-radius: 8px;
    border: 1px solid $black;
    background-color: $black;
    color: $white;
    width: fit-content;
    padding: 3px 4px 3px 4px;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
}